@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'calibri',sans-serif;
}

body
{
    background: #111;
}

section
{
    background: #111;
    color: #fff;
}

section #out #navbar nav
{
    padding: 13px 17px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    position: fixed;
    width: 100%;
}

nav #linkz
{
    margin-top: 1px;
    width: 197px;
    display: flex;
    justify-content: space-between;
}

#linkz a
{
    font-weight: 500;
    font-family: 'roboto',sans-serif;
    text-decoration: none;
    color: #e4e4e4;
    font-size: 17px;
}

section #middle-container
{
    padding: 0px 7px;
}

#middle-container section
{
    display: flex;
    justify-content: space-between;
}

#bottomline-1 , #bottomline-2
{
    width: 0%;
    height: 1px;
    background: #fff;
}

nav #shop
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#shop i
{
    color: #fff;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 23px;
}

@media screen and (max-width: 800px)
{
    #middle-container section
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #l-i img
    {
        margin-top: 51px;
        width: 371px;
    }
    #r-t
    {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }

    #r-t h1 , #des
    {
        font-family: "roboto",sans-serif;
        font-weight: 500;
    }

    #des
    {
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 2px;
        word-spacing: 5px;
    }

    #r-t h1
    {
        margin-top: 7px;
        font-weight: 500;
        font-size: 37px;
        letter-spacing: 1.5px;
    }
}

@media screen and (min-width: 801px)
{
    #l-i img
    {
        width: 700px;
        margin-left: 37px;
    }
    #r-t
    {
        margin-top: 450px;
        margin-right: 53px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #r-t h1 , #des
    {
        font-family: "roboto",sans-serif;
        font-weight: 500;
    }

    #des
    {
        font-size: 19px;
        font-weight: 300;
        letter-spacing: 2px;
        word-spacing: 5px;
    }

    #r-t h1
    {
        font-weight: 500;
        font-size: 53px;
        letter-spacing: 1.5px;
    }
}

#seeMore
{
    height: 27px;
    width: 177px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    color: #fff;
    border: 1px solid #fff;
    font-size: 15px;
    font-weight: 100;
}

#logo
{
    margin-top: -26px;
}

#g1
{
    margin-top: 13px;
}

#footPage
{
    margin-top: 0;
    padding: 17px 13px 0px 13px;
    height: 301px;
    background: #e4e4e4;
    display: flex;
    justify-content: space-between;
    color: #797979;
}
#footPage #icons i
{
    font-size: 27px;
    margin-right: 3px;
}

#credits
{
    margin-top: 17px;
    color: #777;
}
#credits p
{
    font-family: 'poppins',sans-serif;
}

#service1
{
    background-image: url("img/as1.png");
}
