@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'calibri',sans-serif;
}

body
{
    background: #fff;
    color: #111;
}

section
{
    color: #111;
}

section #out #navbar nav
{
    padding: 13px 17px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    position: fixed;
    width: 100%;
    background: #111;
}

nav #linkz
{
    width: 197px;
    display: flex;
    margin-top: 4.9px;
    justify-content: space-between;
    align-items: center;
}

#linkz a
{
    font-weight: 300;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

#shop
{
    display: flex;
}

#shop i
{
    font-size: 23px;
    color: #fff;
}

#logo
{
    margin-top: -27px;
}


/*section*/

#container
{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 13px;
    margin-top: 73px;
    /*font-family: 'poppins',sans-serif;*/
}

#container #firstL
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#first-product
{
    width: 177px;
    height: 231px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #111;
    border-radius: 3px;
    margin-right: 13px;
}

#first-product #img
{
    height: 163px;
    width: 163px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #f00;*/
}

#img span
{
    margin-top: -27px;
    padding: 0;
    font-size: 137px;
    color: #333;
    border-bottom: 3px solid #333;
    font-weight: 200;
}

#bottom-des
{
    margin-top: -13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#des-inp
{
    width: 131px;
    border: 0;
    background: #fff;
    margin-bottom: 7px;
    margin-left: -13px;
    height: 23px;
    border: 1px solid #000;
    border-radius: 3px;
    padding-left: 3px;
    cursor: pointer;
    font-family: 'poppins',sans-serif;
    font-size: 11px;
}

#bottom-des button
{
    cursor: pointer;
    margin-left: -13px;
    height: 23px;
    width: 131px;
    background: #000;
    color: #fff;
    border-radius: 3px;
    font-family: 'poppins',sans-serif;
}

/*product*/

#container
{
    display: flex;
    flex-wrap: wrap;
}

#firstL2
{
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#product
{
    width: 177px;
    height: 231px;
    border: 1px solid #111;
    margin-right: 13px;
}

#product #imgProduct
{
    margin-left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 155.69px;
    width: 153px;
}

#imgProduct img
{
    height: 153px;
    width: 153px;
}

#bottomProduct
{
    padding-left: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bottomProduct #tipo
{
    font-size: 11px;
    color: #777;
    margin-bottom: -1px;
}

#bottomProduct p
{
    font-family: 'poppins',sans-serif;
    font-size: 14.9px;
}

#bottomProduct button
{
    cursor: pointer;
    height: 23px;
    background: #111;
    color: #fff;
    border: 0;
    border-radius: 3px;
    width: 131px;
    font-family: 'poppins',sans-serif;
}
