@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'calibri',sans-serif;
}

body
{
    background: #fff;
    color: #111;
}

section
{
    color: #111;
}

section #out #navbar nav
{
    padding: 13px 17px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    position: fixed;
    width: 100%;
}

nav #linkz
{
    margin-top: 1px;
    width: 197px;
    display: flex;
    justify-content: space-between;
}

#linkz a
{
    font-weight: 500;
    font-family: 'roboto',sans-serif;
    text-decoration: none;
    color: #111;
    font-size: 17px;
}

#shop
{
    display: flex;
}

#shop i
{
    font-size: 23px;
}

#logo
{
    margin-top: -27px;
}


/*section*/

#container
{
    position: absolute;
    padding: 13px;
    margin-top: 73px;
}

#first-product
{
    width: 217px;
    height: 231px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2.7px solid #999;
    border-radius: 7px;
}

#first-product #img
{
    height: 163px;
    width: 163px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #f00;*/
}

#img i
{
    margin-top: -27px;
    padding: 0;
    font-size: 147px;
    color: #999;
    border-bottom: 3px solid #999;
}

#bottom-des
{
    margin-top: -13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#des-inp
{
    width: 131px;
    border: 0;
    background: #ddd;
    margin-bottom: 7px;
    margin-left: -13px;
    height: 23px;
    border: 1px solid #555;
    border-radius: 3px;
    padding-left: 3px;
}

#bottom-des button
{
    margin-left: -13px;
    border: 1px solid #555;
    height: 23px;
    width: 131px;
    background: #ddd;
    color: #777;
    border-radius: 3px;
}
